sc/__pycache__/scrabble.cpython-36.pyc
sc/__pycache__/scrabble.cpython-39.pyc
sc/scrabble.pyc
sc/__pycache__/scrabble.cpython-39.pyc
sc/scrabble_cheater_desktop/src/__pycache__/scrabble_cheater.cpython-39.pyc
sc/scrabble_cheater_desktop/src/__pycache__/scrabble.cpython-39.pyc
